@font-face {
    font-family: Stellar;
    src: url("fonts/Stellar-light.otf");
}

body {
    font-family: Stellar;
}

h1 {
    font-size: 100px;
}

h1.main-title {
    margin-top: 100px;
    margin-bottom: 0px;
}

p {
    font-size: 20px;
}

h1, h2, p, ul, li {
    text-align: center;
}

a:hover {
    text-decoration: none;
}