body {
    background-color: black;
    font-family: Georgia;
}

#title {
    color: white;
    position: absolute;
    z-index: 300;
    font-size: 100px;
    margin-left: 50px;
    margin-top: 50px;
}

#subtitle {
    color: white;
    position: absolute;
    z-index: 300;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 200px;
}

.mediaLink {
    color: white;
    z-index: 300;
    font-size: 50px;
}

.mediaLink.mobile {
    font-size: 70px;
}

#viewport {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.content {
    padding: 100px;
    font-size: 40px;
    height: 100%;
}

.rightContent {
    display: none;
    font-family: Times;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 15px;
}

.content .title {
    margin-bottom: 20px;
    font-size: 60px;
}

.navItem a:hover {
    color: #5F9F9F;
    cursor: pointer;
    text-decoration: none;
}

.separator {
    float: left;
    height: 100%;
    border: 1px solid gray;
}

.rightSide {
    width: 66%;
}